DBSha1Login
{
    com.tagish.auth.DBLogin required debug=true
    dbDriver="com.mysql.jdbc.Driver"
    dbURL="jdbc:mysql://localhost/sac"
    dbUser="sac-ro"
    dbPassword="E0j0mckqAFkZ+w3MDlYD"
    userTable="idp_users_sha1"
    userColumn="email"
    passColumn="password"
    algo="SHA1";
};

DBBcryptLogin
{
	com.tagish.auth.DBLogin required debug=true 
	dbDriver="com.mysql.jdbc.Driver"
    dbURL="jdbc:mysql://localhost/sac"
	dbUser="sac-ro" 
	dbPassword="E0j0mckqAFkZ+w3MDlYD"
	userTable="idp_users_bcrypt" 
	userColumn="email" 
	passColumn="password"
	algo="BCRYPT";
};
